<ion-list>
  <ion-grid>
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Select Mob Level</ion-label>
        </ion-list-header>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label>Lvl 0-4</ion-label>
              <ion-radio slot="start" value='toFourIsChecked' (ionSelect)='radioSelected($event)'></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label>Lvl 5-10</ion-label>
              <ion-radio slot="start" value="toTenIsChecked" (ionSelect)='radioSelected($event)'></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label>Lvl 11-16</ion-label>
              <ion-radio slot="start" value="toSixteenIsChecked" (ionSelect)='radioSelected($event)'></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label>Lvl 17+</ion-label>
              <ion-radio slot="start" value="toMoreIsChecked" (ionSelect)='radioSelected($event)'></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <div *ngIf="errorMessage === '';else alertMessage"></div>
        <ng-template #alertMessage>
          <ion-chip color="danger">
            <ion-label color="dark">{{ errorMessage }}</ion-label>
          </ion-chip>
        </ng-template>        
        <ion-button expand="block" (click)="rollLevel()">Hoard Loot</ion-button>
      </ion-radio-group>
    </ion-list>
  </ion-grid>
</ion-list>
<ion-grid>
  <ion-row>
    <ion-col size="2" class="pieces" size-lg offset="1">
      <img src="../../assets/media/img/copper.png" alt="copper piece">
      <p>{{ copperPiece }}</p>
    </ion-col>
    <ion-col size="2" class="pieces" size-lg >
      <img src="../../assets/media/img/silverPiece.png" alt="silver piece">
      <p>{{ silverPiece }}</p>
    </ion-col>
    <ion-col size="2" class="pieces" size-lg >
      <img src="../../assets/media/img/electrumPiece.png" alt="electrum piece">
      <p>{{ electrumPiece }}</p>
    </ion-col>
    <ion-col size="2" class="pieces" size-lg >
      <img src="../../assets/media/img/goldPiece.png" alt="gold piece">
      <p>{{ goldPiece }}</p>
    </ion-col>
    <ion-col size="2" class="pieces" size-lg>
      <img src="../../assets/media/img/platinumPiece.png" alt="platinum piece">
      <p>{{ platinumPiece }}</p>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-card class="stuff-grid" *ngIf="itemSelected === 'artItem' || itemSelected === 'gemItem' else noDB">
  <ion-row>
    <ion-col>
      <ion-card-header class="thing-pane"
           (click)="onProductClicked(gemsDb['_id'])">
        <ion-card-content class="thing-info" *ngIf="itemSelected === 'gemItem'; else artContent">
          <ion-card-title>
            <ion-text><span *ngIf="gems.nb > 0">{{ gems.nb }} x </span></ion-text>
            {{ gemsDb["name"] | titlecase}}
          </ion-card-title>
          <ion-card-subtitle>{{ gemsDb["value"]}} <span>{{ gemsDb["piece"] | titlecase }}<span *ngIf="itemSelected === 'gemItem'">s</span></span></ion-card-subtitle>
        </ion-card-content>
        <ng-template #artContent>
          <ion-card-content class="thing-info" *ngIf="itemSelected === 'artItem'">
            <ion-card-title>
              <ion-text><span>{{ artObject.nb }} x </span></ion-text>
              {{ artDb["name"] | titlecase}}
            </ion-card-title>
            <ion-card-subtitle>{{ artDb["value"] | titlecase}} <span>{{ artDb["piece"] | titlecase}}<span *ngIf="itemSelected === 'artItem';">s</span></span></ion-card-subtitle>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-content>
        </ng-template>
      </ion-card-header>
    </ion-col>
<!--    <ion-col>
      <ion-card-header class="thing-pane"
                       (click)="onProductClicked(artDb['_id'])">
        <ion-card-content class="thing-info">
          <ion-card-title>
            {{ artDb["name"] | titlecase}}
          </ion-card-title>
          <ion-card-subtitle>{{ artDb["value"]}}</ion-card-subtitle>
          <ion-card-subtitle>{{ artDb["piece"] | titlecase }}</ion-card-subtitle>
        </ion-card-content>
      </ion-card-header>
    </ion-col>-->

  </ion-row>
</ion-card>
<ng-template #noDB>
  <ion-card *ngIf="itemSelected !== 'none'">
    <ion-row>
      <ion-col>
        <ion-card-header class="thing-pane">
          <ion-card-content class="thing-info" id="dbCenter">
            <ion-card-title>
              <ion-text *ngIf="itemSelected === 'noDb'">There seems to be an issue with the database.</ion-text>
              <ion-text *ngIf="itemSelected === 'noItem'">No gems or art objects for you this time.</ion-text>
            </ion-card-title>
          </ion-card-content>
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-card>
</ng-template>

<!--<ng-template #zeroBlock>
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-card-header>
          <ion-card-content class="thing-info">
            <ion-card-title class="ion-text-center">
              No gems
            </ion-card-title>
          </ion-card-content>
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-card>
</ng-template>-->
