<ion-list>
  <ion-grid>
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Select Mob Level</ion-label>
        </ion-list-header>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label>Lvl 0-4</ion-label>
              <ion-radio slot="start" value='toFourIsChecked' (ionSelect)='radioSelected($event)'></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label>Lvl 5-10</ion-label>
              <ion-radio slot="start" value="toTenIsChecked" (ionSelect)='radioSelected($event)'></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label>Lvl 11-16</ion-label>
              <ion-radio slot="start" value="toSixteenIsChecked" (ionSelect)='radioSelected($event)'></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label>Lvl 17+</ion-label>
              <ion-radio slot="start" value="toMoreIsChecked" (ionSelect)='radioSelected($event)'></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-button expand="block" (click)="rollLevel()">Encounter Loot</ion-button>
      </ion-radio-group>
    </ion-list>
  </ion-grid>
</ion-list>
<ion-grid>
  <ion-row>
    <ion-col size="2" size-lg offset="1">
      <img src="../../assets/media/img/copper.png" alt="copper piece">
    </ion-col>
    <ion-col size="2" size-lg >
      <img src="../../assets/media/img/silverPiece.png" alt="silver piece">
    </ion-col>
    <ion-col size="2" size-lg >
      <img src="../../assets/media/img/electrumPiece.png" alt="electrum piece">
    </ion-col>
    <ion-col size="2" size-lg >
      <img src="../../assets/media/img/goldPiece.png" alt="gold piece">
    </ion-col>
    <ion-col size="2" size-lg>
      <img src="../../assets/media/img/platinumPiece.png" alt="platinum piece">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2" size-lg offset="1">
      <p>{{ copperPiece }}</p>
    </ion-col>
    <ion-col size="2" size-lg >
      <p>{{ silverPiece }}</p>
    </ion-col>
    <ion-col size="2" size-lg >
      <p>{{ electrumPiece }}</p>
    </ion-col>
    <ion-col size="2" size-lg >
      <p>{{ goldPiece }}</p>
    </ion-col>
    <ion-col size="2" size-lg>
      <p>{{ platinumPiece }}</p>
    </ion-col>
  </ion-row>
</ion-grid>
