ion-list {
    margin: 0;
    padding: 0;
}

ion-col p {
    text-align: center;
}

ion-col img {
    max-width: 55px;
}

ion-chip {
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
}